<div class="centerA">
    <mat-card>
        <mat-card-header>
            <mat-card-title> <mat-icon color="primary">contact_page</mat-icon> Dados</mat-card-title>
            <mat-card-header *ngIf="user.credit_limit"><mat-icon color="primary">credit_card</mat-icon> Creditos: {{user.credit_limit}}</mat-card-header>
        </mat-card-header>
        <mat-card-content *ngIf="user">
                <section>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput [(ngModel)]="user.name" name="name" disabled maxlength="50" type="text" required>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <mat-label>Rua</mat-label>
                        <input matInput [(ngModel)]="user.street" name="street" disabled maxlength="100" type="text" required>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <mat-label>Cidade</mat-label>
                        <input matInput [(ngModel)]="user.city" name="city" disabled maxlength="50" type="text" required>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <input matInput [(ngModel)]="user.state" name="state" disabled maxlength="2" type="text" required>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <mat-label>CPF</mat-label>
                        <input matInput [(ngModel)]="user.cpf" name="cpf" disabled maxlength="14" type="text" required>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <mat-label>Usuário</mat-label>
                        <input matInput [(ngModel)]="user.user" name="user" disabled minlength="2" maxlength="100" type="text" required>
                    </mat-form-field>
                </section>
        </mat-card-content>
    </mat-card>
</div>